<header>
    <div class="header-content">
        <h1>{{ site_title if site_title else 'About Me and My Alters' }}</h1>
        <p>{{ site_description if site_description else 'Welcome to our shared space' }}</p>
        <nav>
            <ul>
                <li><a href="#about">About Us</a></li>
                <li><a href="#members">Our Members</a></li>
                <li><a href="#system">System Info</a></li>
                <li><a href="#resources">Resources</a></li>
            </ul>
        </nav>
    </div>
</header>