/* Dexen-specific styles */
body {
    background-color: #fefcbf;
    color: #553c9a;
}

nav {
    background: linear-gradient(to right, #9f7aea, #805ad5);
}

.alter-btn.active {
    background-color: #805ad5;
}

.modules-list a {
    background-color: #f3ddff;
    color: #553c9a;
}

.modules-list a:hover {
    background-color: #e0c3fc;
}