/* Seles-specific CSS */
body {
    background-color: #e6f0ff;
    color: #003366;
}

.header {
    background-color: #3366cc;
    color: white;
}

.alter-specific {  
    border-left: 4px solid #3366cc;
}