/* Yuki-specific styles */
body {
    background-color: #ffe6f0;
    color: #330033;
}

.alter-btn.yuki {
    background-color: #cc0066;
    color: white;
}

.alter-item.yuki {
    border-left: 4px solid #cc0066;
}

.active.alter-item.yuki {
    background-color: #ffccdd;
}